<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.freeoda.franktirkey.smartmanagementforengineers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:name=".BackendlessApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity android:name=".notice.Notice"></activity>
        <activity android:name=".absTestingBKs.AbsTestingBks" />
        <activity android:name=".subject.SubjectMain" />
        <activity android:name=".collage.CollageMain" />
        <activity android:name=".attendance.AttendanceMain" />
        <activity android:name=".routine.RoutineMain" />
        <activity android:name=".syllabus.SyllabusMain" />
        <activity android:name=".appConfig.AppAbout" />
        <activity android:name=".appConfig.HelpAndReport" />
        <activity android:name=".appConfig.AppSetting" />
        <activity android:name=".toDos.ToDoMain" />
        <activity android:name=".chat.chatWorkers.ChatMainWorker" />
        <activity android:name=".chat.Chat" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>